.logo-link {
  width: 12.2rem;
  height: 4.1rem;
  display: block;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.nav-list {
  font-size: 1.4rem;
  line-height: 130%;
  color: #7F858D;
  display: flex;
  align-items: center;

  li {
    margin-right: 5.1rem;
    transition: .2s color;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #4A90E2;
    }
  }
}

.right-side-header {
  font-size: 16px;
  line-height: 130%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;

  a,
  button {
    margin-right: 1.3rem;

    &:last-child {
      margin-right: 0;
    }
  }

}

.sign-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(231, 231, 231, 0.8);
  width: 12.6rem;
  height: 5.5rem;
  border-radius: 1.5rem;
  border: .1rem solid rgba(255, 255, 255, 0.3);

  .sign-svg {
    margin-right: .9rem;
  }
}

.promo-header {
  font-weight: 600;
  color: #FFFFFF;
  background: #13A0D1;
  border-radius: 1.5rem;
  display: block;
  padding: 1.7rem 3.2rem;
  width: fit-content;
}

.main-header {
  position: fixed;
  height: 10.8rem;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  padding-top: 2.7rem;
  z-index: 99;
  transition: background .2s;

  &.active {
    background: #1E1E25;
  }
}

.header-wrap {
  display: flex;
  align-items: center;
  position: relative;

  &__margin-list {
    margin-left: 6rem;
  }
}
