.wrapper {
  max-width: 136rem;
  width: 100%;
  margin: auto;
}

.root {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  overflow: hidden;
}

body {
  background: #0E0E11;
}

.headline-item {
  font-weight: bold;
  font-size: 5rem;
  line-height: 116.4%;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}


