.svgsprite {
    display:inline-block;
    width:1em;
    height:1em;
    fill:currentColor;
    vertical-align:middle;

    &._arrow {
    	font-size:(17/10)*1rem;
    	width:(36/17)*1em;
    }
    &._profit1 {
    	font-size:(86/10)*1rem;
    	width:(86/86)*1em;
    }
    &._profit2 {
    	font-size:(83/10)*1rem;
    	width:(83/83)*1em;
    }
    &._profit3 {
    	font-size:(83/10)*1rem;
    	width:(83/83)*1em;
    }
    &._sign {
    	font-size:(21/10)*1rem;
    	width:(15/21)*1em;
    }
    &._team1 {
    	font-size:(64/10)*1rem;
    	width:(64/64)*1em;
    }
    &._team2 {
    	font-size:(64/10)*1rem;
    	width:(64/64)*1em;
    }
    &._team3 {
    	font-size:(64/10)*1rem;
    	width:(64/64)*1em;
    }
    &._team4 {
    	font-size:(64/10)*1rem;
    	width:(64/64)*1em;
    }
    &._team5 {
    	font-size:(64/10)*1rem;
    	width:(64/64)*1em;
    }
}