.main-screen {
  &__padding {
    padding-top: 16.3rem;
  }
}

.main-screen-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__subtext {
    padding-top: 2.8rem;
  }

  &__btn {
    margin-top: 4.9rem;
  }

  &__pic {}
}

.main-headline {
  font-weight: bold;
  font-size: 7.2rem;
  line-height: 116.4%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.screen-subtext {
  font-size: 1.8rem;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.8);
  max-width: 41.7rem;
  width: 100%;
  margin: auto;
}

.main-promo-link {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 130%;
  color: #FFFFFF;
  display: block;
  background: #13A0D1;
  border-radius: 1.5rem;
  padding: 2.6rem 4.3rem;
  width: fit-content;

}

.phone-pic-wrap {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-pic {
  width: 106.8rem;
  height: 55.9rem;


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 38.7rem;
    left: 0;
    bottom: 0rem;
    background: linear-gradient(180deg, rgba(14, 14, 17, 0) 0%, rgba(14, 14, 17, 0.9) 71.87%, #0E0E11 100%);
  }
}

.profit-list {
  font-size: 1.8rem;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  padding-top: 3.5rem;
  border-top: 2px solid rgba(255, 255, 255, 0.21);

  li {
    display: flex;
    align-items: center;
  }

  .profit-svg {
    margin-right: 2rem;
  }
}

.profit-list-wrap {
  width: 100%;
  margin-top: -10rem;
  z-index: 2;
}

.main-video {
  &__margin {
    margin-top: 11.6rem;
  }
}

.main-video-wrap {
  display: flex;
  justify-content: center;
}

.link-video {
  width: 123.1rem;
  height: 64.2rem;
  display: block;
  position: relative;

  p {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 130%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.partners {
  background: #1E1E25;
  margin-top: -32.1rem;
  padding-bottom: 20.3rem;

  &__padding {
    padding-top: 41.6rem;
  }
}



.partners-subtext {
  font-size: 2.4rem;
  line-height: 130%;
  color: #595963;
}

#makeMeScrollable div.scrollableArea * {
  position: relative;
  display: block;
  float: left;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

div.scrollWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

div.scrollableArea {
  position: relative;
  width: auto;
  height: 100%;
}

.list-partners {
  padding-bottom: 5.1rem;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 100vw !important;
  display: flex !important;
  align-items: center;

  &:last-child {
    padding-bottom: 0;
  }

  a {
    display: block;
    filter: grayscale(1);
    transition: filter .2s;


    img {
      width: 30.9rem;
      height: 12.3rem;
      object-fit: contain;
    }

    &:hover {
      filter: grayscale(0);
    }
  }

  &.v1 {
    a {
      margin-right: 10.3rem;
    }
  }

  &.v2 {
    a {
      margin-right: 11.7rem;
    }
  }
}

.scroll-wrap {
  width: 100vw !important;
}

div.scrollWrapper {
  padding-top: 7rem;
  padding-bottom: 4.7rem;
}

.datetrader-item {
  border-radius: 1.5rem;
  width: fit-content;


  &.v1 {
    background: #13A0D1;

  }

  &.v2 {
    background: #1A2129;
  }
}

.datetrader-wrap {
  max-width: 81.7rem;
  width: 100%;
  margin: 7.5rem;

  &__margin {
    margin-top: 5.3rem;
  }

  &__content {
    margin-top: 10.1rem;
  }

}

.datetrader-desc {
  font-size: 3rem;
  line-height: 130%;
  color: #FFFFFF;
}

.comments-datetrader {
  display: flex;
  justify-content: center;

  &__margin {
    margin-top: -14.5rem;
  }

  &__margin-content {
    margin-top: 28.5rem;
  }

  &__block {
    margin-top: 10.1rem;
  }
}

.photo-trader {
  width: 8.6rem;
  height: 8.6rem;
  border-radius: 50%;
  overflow: hidden;
  background: black;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.datetrader-info {
  display: flex;
  align-items: center;

  &__margin {
    margin-left: 2.7rem;
  }
}

.about-trader {
  color: #FFFFFF;
}

.trader-name {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 130%;
}

.trader-position {
  font-size: 2rem;
  opacity: 0.5;
  line-height: 130%;
  margin-top: .5rem;
}

.delta-graph {
  &__padding {
    padding-top: 8.2rem;
  }
}

.delta-wrap {
  .headline-item {
    text-align: center;
  }
}

.delta-slide-headline {
  font-weight: bold;
  font-size: 4rem;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #13A0D1;
  max-width: 44.8rem;
  width: 100%;
}

.delta-subtext {
  font-size: 2rem;
  line-height: 130%;
  color: #898998;
  max-width: 28.1rem;
  width: 100%;
}

.delta-info {
  &__margin {
    margin-top: 3rem;
  }
}

.delta-pic {
  width: 91.6rem;
  height: 68.7rem;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.pic-animation {
  width: 26.8rem;
  height: 29.3rem;
  position: absolute;
  left: -5rem;
  top: 0;
}

.rotate {
  width: 80%;
  height: 20%;
  position: absolute;
  left: 0;
  top: 25%;

  &.aos-animate {

    -webkit-animation: circle 1s linear;
    -webkit-transform-origin: 50% 50%;


    .counterrotate {
      -webkit-animation: ccircle 1s linear;
    }
  }
}

.counterrotate {
  width: 6.8rem;
  height: 29.3rem;

}

@-webkit-keyframes circle {
  from {
    -webkit-transform: rotateZ(0deg)
  }

  to {
    -webkit-transform: rotateZ(360deg)
  }
}

@-webkit-keyframes ccircle {
  from {
    -webkit-transform: rotateZ(360deg)
  }

  to {
    -webkit-transform: rotateZ(0deg)
  }
}

.delta-slide-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delta-slider {
  overflow: hidden;
}

.delta-slider-wrap {
  position: relative;
  margin-top: 2rem;
  padding-top: 10rem;

  .swiper-pagination {
    font-size: 4rem;
    line-height: 4.9rem;
    text-transform: uppercase;
    color: #FFFFFF;
    top: 0;
    height: min-content;
  }

  .swiper-button-next {
    right: 10px;
    left: auto;
    width: 50%;
    height: 100%;
    top: 0;


  }

  .swiper-button-prev {
    right: auto;
    left: 0;
    width: 50%;
    height: 100%;
    top: 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    &:after {
      display: none;
    }

    .btn-item {
      background: #13A0D1;
      width: 10.6rem;
      height: 10.6rem;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.swiper-button-disabled {
      opacity: 0;
    }
  }


  .swiper-button-next {
    justify-content: flex-end;

    &:hover {
      cursor: url('/assets/img/cursor.png'), pointer;
    }
  }

  .swiper-button-prev {
    justify-content: flex-start;
    align-items: flex-end;

    .arrow-svg {
      transform: rotate(180deg);
    }

    &:hover {
      cursor: url('/assets/img/cursor2.png'), pointer;
    }
  }

  .swiper-pagination-total {
    color: rgba(255, 255, 255, 0.3);
  }

  //   .swiper-wrapper {
  //     overflow: hidden;
  //   }
}

.screener-wrap {
  .headline-item {
    text-align: center;

    span {
      position: relative;
      padding-left: 8rem;

      &:before {
        position: absolute;
        content: '';
        left: 1rem;
        top: 0;
        width: 4.9rem;
        height: 4.9rem;
        background-image: url(/assets/img/binance.png);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &__margin {
    margin-top: 9.1rem;
  }
}

.screener {
  &__padding {
    padding-top: 12.1rem;
  }
}


.screener-num {
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #13A0D1;
}

.screener-headline {
  font-size: 3.4rem;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #13A0D1;
}

.screener-subtext {
  font-size: 2.4rem;
  line-height: 150%;
  color: #898998;
}

.screener-left-item {


  .screener-item {
    min-height: 93.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .screener-pic {
    width: 58.5rem;
    height: 40.4rem;
  }
}

.screener-right-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .screener-item {
    min-height: 59.2rem;
  }

  .screener-pic {
    width: 58.8rem;
    height: 33.4rem;
  }
}

.screener-pic {
  border-radius: 2rem;
  overflow: hidden;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(116.75deg, #0E0E11 3.41%, rgba(14, 14, 17, 0.56) 21.21%, rgba(26, 33, 41, 0) 52.21%, rgba(14, 14, 17, 0.66) 85.41%, #0E0E11 100%);
    border-radius: 2rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.screener-item {
  background: #1A2129;
  border: .1rem solid #1A2129;
  transition: .2s background, .2s border;
  padding: 4.1rem;
  max-width: 66.9rem;
  width: 100%;
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background: #0E0E11;
    border: .1rem solid #4A90E2;
  }

  &__headline {
    margin-top: 2rem;
  }

  &__subtext {
    margin-top: 2.5rem;
  }

  &__pic {
    margin-top: 3.3rem;
  }
}

.screener-list {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}


body,
html {
  margin: 0;
}

.scroller {
  height: 100vh;
}

.orange {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #753500;
}

.text {
  color: #fff;
}

.black {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #070707;
}

.blue {
  height: 100vh;
  background-color: #00026d;
}


.text-wrap {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 80vh;
}

.panel-text {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  background-color: #070707;

  transform: translateY(100%);
  opacity: 0;
}

.panel-text.blue-text {
  color: blue;
}

.panel-text.red-text {
  color: red;
}

.panel-text.purple-text {
  color: purple;
}

.panel-text.orange-text {
  color: orange;
}






.p-wrap {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 80vh;
}

.panel {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.panel._2 {
  z-index: 1;

}

.panel.blue {
  z-index: auto;
}

.panel.red {
  z-index: auto;
  background-color: red;
  background-image: none;
}

.panel.orange {
  z-index: auto;
  background-color: #cf5d00;
  background-image: none;
}

.panel.purple {
  z-index: auto;
  background-color: #808;
  background-image: none;
}

.linear-charts {
  &__padding {
    padding-top: 15.2rem;
  }

  &.visible {
    // height: 100vh;
    // position: fixed;
    // left: 0;
    // top: 0;
    // width: 100%;
  }
}

.linear-list-item {
  &__margin {
    margin-top: 7.8rem;
  }

  .swiper {
    overflow: hidden;
  }

  .swiper-wrapper {
    height: 60rem;
  }
}

.linear-list-link {
  font-weight: bold;
  font-size: 5rem;
  line-height: 116.4%;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.chart-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chart-description-item {
  max-width: 49.5rem;
  width: 100%;
  font-size: 2.4rem;
  line-height: 150%;
  color: #898998;
  padding: 3.8rem 1rem 3.8rem 4.7rem;
  background: #1A2129;
  border-radius: 1.3rem;
}

.charts-content {
  display: flex;
  justify-content: space-between;

  .link-video {
    width: 84.5rem;
    height: 44rem;
    font-size: 1.6rem;
  }
}


.team-traders {
  &__padding {
    padding-top: 13.5rem;
  }
}

.traders-logo {
  width: 12.7rem;
  height: 12.7rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.logo-subtext {
  font-weight: 600;
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #13A0D1;
}

.traders-headline {
  font-weight: bold;
  font-size: 5rem;
  line-height: 116.4%;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.traders-main-text {
  font-size: 2.4rem;
  line-height: 150%;
  color: #898998;
}

.team-traders-item {
  background: #1A2129;
  border-radius: 1.3rem;
  display: flex;
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  &.v1 {
    padding: 7.2rem 4.5rem 10.1rem 7.6rem;
  }

  &.v2 {
    padding: 6.7rem 4rem 15.3rem 7.6rem;
    justify-content: space-between;
    position: relative;
  }

  &.v3 {
    padding: 6.8rem 5rem 6.8rem 8.1rem;
    position: relative;
  }

  &__teams {
    max-width: 53rem;
    width: 100%;
    border-right: .3rem solid rgba(255, 255, 255, 0.2);
  }

  &__speakers {
    max-width: 53rem;
    width: 100%;

  }

  &__binance {
    max-width: 57.7rem;
    width: 100%;
  }

  &__margin {
    margin-left: 14.1rem;
  }

  &__results {
    max-width: 50rem;
    width: 100%;

  }
}

.traders-leftside {


  &__subtext {
    margin-top: 1.2rem;
  }

  &__headline {
    margin-top: 2.2rem;
  }

  &__text {
    margin-top: 3.2rem;
    max-width: 37.3rem;
    width: 100%;
  }
}

.traders-list-item {
  max-width: 23.7rem;
  width: 100%;
  font-size: 1.6rem;
  color: #898998;

  p {
    margin-top: 1.7rem;
    line-height: 150%;
  }
}

.traders-list {
  display: grid;
  grid-template: auto/repeat(2, 1fr);
  column-gap: 5.8rem;
  row-gap: 4rem;
}

.speakers-pic {
  width: 26.8rem;
  height: 14rem;
  display: block;
  border-radius: 1.2rem;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.speaker-link-name {
  font-size: 1.6rem;
  line-height: 150%;
  color: #FFFFFF;
}

.speakers-link-position {
  font-size: 1.4rem;
  line-height: 150%;
  color: #898998;
  opacity: 0.5;
}

.speakers-link-desc {
  font-size: 1.4rem;
  line-height: 150%;
  color: #898998;
}

.speakers-link-info {
  max-width: 28.2rem;
  width: 100%;

  &__text {
    margin-top: 1.5rem;
  }
}

.speakers-list-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding-bottom: 3.35rem;
  border-bottom: .2rem solid rgba(255, 255, 255, 0.2);
  margin-bottom: 3rem;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.traders-rightside {
  &__video {
    margin-top: 5.1rem;
  }
}

.speakers-link-video {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.mac-pic {
  position: absolute;
  width: 74.9rem;
  height: 43rem;
  left: -7.5rem;
  bottom: 4.5rem;
}

.results-link {
  font-size: 2.4rem;
  line-height: 150%;
  color: #FFFFFF;
  position: relative;
  display: inline-block;
  margin-top: 1.3rem;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: .2rem;
    background: rgba(255, 255, 255, 0.2);
    left: 0;
    bottom: -.5rem;
  }
}

.results-pic {
  width: 67.1rem;
  height: 62.7rem;
  position: absolute;
  top: 9.3rem;
  right: 8rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.banner-money {
  &__padding {
    margin-top: 20.7rem;
  }
}

.scroller {
  height: 100vh;
}

.orange {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #753500;
}

.text {
  color: #fff;
}

.black {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #070707;
}

.blue {
  height: 100vh;
  background-color: #00026d;
}


.text-wrap {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 80vh;
}

.panel-text {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  background-color: #070707;

  transform: translateY(100%);
  opacity: 0;
}

.panel-text.blue-text {
  color: blue;
}

.panel-text.red-text {
  color: red;
}

.panel-text.purple-text {
  color: purple;
}

.panel-text.orange-text {
  color: orange;
}






.p-wrap {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 80vh;
}

.panel {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.panel._2 {
  z-index: 1;

}

.panel.blue {
  z-index: auto;
}

.panel.red {
  z-index: auto;
  background-color: red;
  background-image: none;
}

.panel.orange {
  z-index: auto;
  background-color: #cf5d00;
  background-image: none;
}

.panel.purple {
  z-index: auto;
  background-color: #808;
  background-image: none;
}

.banner-money-wrap {
  padding: 7.9rem 10.4rem 2.6rem 12.1rem;
  background: #000000;
  border-radius: 1.4rem;
  display: flex;
  justify-content: space-between;
}

.banner-text {
  font-size: 2rem;
  line-height: 130%;
  color: #898998;
}

.banner-info {
  max-width: 43.5rem;
  width: 100%;

  &__text {
    margin-top: 2rem;
  }

  &__headline {
    margin-top: 5.7rem;
  }

  &__link {
    margin-top: 2rem;
  }
}

.banner-step {
  font-size: 3rem;
  line-height: 130%;
  color: #DFDFDF;
}

.try-link {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 130%;
  color: #FFFFFF;
  padding: 2.7rem 7rem;
  width: fit-content;
  background: #13A0D1;
  border-radius: 1.5rem;
  display: inline-block;
}

.banner-pic {
  width: 51rem;
  height: 51rem;
  position: relative;
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:before {
    position: absolute;
    content: '';
    width: 28rem;
    height: 26rem;
    background-image: url(/assets/img/bit2.png);
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    top: 0;
    left: -9rem;
  }
}

.security-wrap {
  .headline-item {
    text-align: center;
  }

  &__subtext {
    padding-top: 2.6rem;
  }

  &__margin {
    margin-top: 13.4rem;
  }
}

.security-subtext {
  font-size: 2rem;
  line-height: 130%;
  text-align: center;
  color: #898998;
  max-width: 74.5rem;
  width: 100%;
  margin: auto;
}

.security {
  &__padding {
    padding-top: 14.6rem;
    padding-bottom: 25.4rem;
    border-bottom: .3rem solid rgba(255, 255, 255, 0.3);
  }
}

.security-pic-wrap {
  position: relative;
  display: flex;
  justify-content: center;
}

.security-pic {
  width: 128.7rem;
  height: 73.9rem;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 89.7rem;
    height: 89.7rem;
    border-radius: 50%;
    overflow: hidden;
    background: #13A0D1;
    z-index: -1;
  }
}

.profilt-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sec-profit-item {
  max-width: 34.5rem;
  width: 100%;
  background: linear-gradient(96.59deg, rgba(255, 255, 255, 0.22) -5.93%, rgba(255, 255, 255, 0.0814) -5.92%, rgba(255, 255, 255, 0.22) 53.87%, rgba(255, 255, 255, 0.1056) 108.68%);
  backdrop-filter: blur(30px);
  border-radius: 3rem;
  font-size: 2.5rem;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  padding: 2.8rem 4rem;
  position: absolute;

  &.v1 {
    top: -7.2rem;
    left: 5rem;
  }

  &.v2 {
    top: -6.2rem;
    right: 7.8rem;
  }

  &.v3 {
    top: 50%;
    left: 50%;
    transform: translate(90%, -50%);
  }

  &.v4 {
    bottom: 3rem;
    right: 11rem;
  }

  &.v5 {
    left: 6.6rem;
    bottom: -4.2rem
  }

  &.v6 {
    top: 50%;
    left: -5rem;
    transform: translate(0, -50%);
  }
}

.use-now {
  position: relative;

  &__padding {
    padding-top: 17.8rem;
    padding-bottom: 17.3rem;
  }
}

.use-description {
  max-width: 62.8rem;
  width: 100%;

  &__margin {
    margin-top: 6rem;
  }

}

.use-pic {
  width: 71.4rem;
  height: 57.5rem;
  position: absolute;
  top: 10.6rem;
  right: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.use-table {
  width: 53.6rem;
  height: 28.8rem;
  position: absolute;
  top: 12rem;
  left: -6.7rem;
  z-index: 3;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(96.59deg, rgba(255, 255, 255, 0.22) -5.93%, rgba(255, 255, 255, 0.0814) -5.92%, rgba(255, 255, 255, 0.22) 53.87%, rgba(255, 255, 255, 0.1056) 108.68%);
    backdrop-filter: blur(8.5293px);
    border-radius: 6.00225px;
    top: 2.5rem;
    left: -1.9rem;
    z-index: -1;
  }
}
