.sign-svg {
  stroke: #7F858D;
  stroke-width: .1rem;
  fill: none;
  width: 2.5rem;
  height: 3rem;
}

.profit-svg {
  width: 8.3rem;
  height: 8.3rem;
  fill: none;
  stroke: #fff;
  stroke-width: .2rem;
}

.arrow-svg {
  width: 3.3rem;
  height: 1.3rem;

  stroke: #fff;
  stroke-width: .3rem;
}

.team-svg {
  width: 6.4rem;
  height: 6.4rem;
  fill: none;
  stroke-width: .2rem;
  stroke: #fff;
}
